.icon-add-to-calculator { background-image: url('png/add-to-calculator.png'); background-repeat: no-repeat; }

.icon-issue-158 { background-image: url('png/issue-158.png'); background-repeat: no-repeat; }

.icon-wonky-output-image { background-image: url('png/wonky-output-image.png'); background-repeat: no-repeat; }

